@model GameInfo.Models.ViewModels.GuideDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<GameInfoUser> SignInManager

<br />
<div class="container-fluid" style="border: solid 1px white; border-radius: 10px; padding: 6px 6px 20px 6px">
    <div class="row" style="padding: 4px 12px 4px 12px">
        <div class="col-lg-2 text-white">
            <p>@Model.UserName</p>
            <img src="@Model.UserAvatar" alt="Account avatar" style="height: 100px; width: 100px; padding-right:10px" />
        </div>
        <div class="col-md-9 text-white" style="border-left: 1px solid white">
            <h1>@Model.Title</h1>
            <hr style="background-color: white; height: 1px" />
            <p style="word-wrap: break-word">@Html.Raw(Model.Content)</p>
        </div>
    </div>
    <hr style="background-color: white;" />
    <div class="row">
        <div class="col-6">
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <form asp-controller="Guides" asp-action="Delete" asp-route-id="@Model.Id">
                    <button type="submit" class="btn">Delete guide</button>
                </form>
            }
        </div>
        <div class="col-6 text-right">
            <form asp-controller="Guides" asp-action="Index" method="get">
                <button type="submit" class="btn">Back to all guides</button>
            </form>
        </div>
    </div>
</div>
<br />