@model GameInfo.Models.ViewModels.GuideDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container-fluid" style="border: solid 2px white; border-radius: 10px; padding: 6px 6px 20px 6px">
    <div class="row" style="padding: 4px 12px 4px 12px">
        <div class="col-md-2 text-white" style="border-right: solid 2px gray">
            <p>@Model.UserName</p>
            <img src="@Model.UserAvatar" alt="Account avatar" style="height: 100px; width: 100px" />
        </div>
        <div class="col-md-9 text-white">
            <h1>@Model.Title</h1>
            <hr style="background-color: white; height: 4px" />
            <p>@Html.Raw(Model.Content)</p>
        </div>
    </div>
    <hr style="background-color: white;"/>
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Guides" asp-action="Index" method="get">
                <button type="submit" class="btn">Back to all guides</button>
            </form>
        </div>
        @if (User.IsInRole("Admin"))
        {
        <div class="col-md-6 text-right">
            <form asp-controller="Guides" asp-action="Delete" asp-route-id="@Model.Id">
                <button type="submit" class="btn">Delete guide</button>
            </form>
        </div>
        }
    </div>
</div>
<br />