@model List<GameInfo.Models.ViewModels.GuidesAllViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container-fluid" style="border: solid 1px white; border-radius: 10px; padding: 6px">
    @if (Model.Count == 0)
    {
        <h4 class="text-white text-center">No guides have been added yet.</h4>
    }
    else
    {
        foreach (var guide in Model.OrderByDescending(x => x.Id))
        {
            <div class="row" style="padding: 4px 12px 4px 12px">
                <div class="col-md-2 text-white">
                    <p>@guide.UserName</p>
                    <img src="@guide.UserAvatar" alt="Account avatar" style="height: 75px; width: 75px" />
                </div>
                <div class="col-md-9">
                    <h5 class="text-white">@guide.GuideTitle</h5>
                    <p style="color: #A2A2A2">@guide.ShortContent</p>
                    <a asp-controller="Guides" asp-action="Details" asp-route-id="@guide.Id" style="color:white">See details</a>
                </div>
            </div>
            <hr style="background-color: white" />
        }
    }
    <div class="row">
        <div class="col-6">
            <form asp-controller="Guides" asp-action="Add" method="get">
                <button type="submit" class="btn">Add a guide</button>
            </form>
        </div>
        <div class="col-6 text-right">
            <form asp-controller="Home" asp-action="Index" method="get">
                <button type="submit" class="btn">Back to Index</button>
            </form>
        </div>
    </div>
</div>
<br />